body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

/* Hilangkan scrollbar bawaan tapi biarkan konten bisa di-scroll */
.custom-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Animasi Fade untuk perpindahan Tab Menu */
.tab-content {
    animation: fadeScaleIn 0.3s ease-out forwards;
}

@keyframes fadeScaleIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Animasi Buka/Tutup Modal (Soal Tryout) */
.modal-open { 
    transform: translateY(0) !important; 
}

/* Animasi Notifikasi (Toast) */
.toast-enter { animation: dropDown 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards; }
.toast-exit { animation: fadeOutUp 0.3s ease-in forwards; }

@keyframes dropDown {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@keyframes fadeOutUp {
    to { transform: translateY(-20px); opacity: 0; }
}
